
StackLayout {
  margin-left: 30;
  margin-right: 30;
  padding-bottom: 15;
  width: 300;
}
Image {
  margin-top: 20;
  margin-bottom: 20;
}
Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
.submit-button {
  background-color: #02a9f7;
  color: white;
  margin-top: 20;
}